$color1:linear-gradient(0deg,rgba(54, 54, 54, 1) 10%, rgba(41, 74, 166, 1) 50%, rgba(54, 54, 54, 1) 100%);
$color2:rgba(77, 76, 85, 0.171);

html,body {
  margin: 0;
  padding: 0;
  font-family: Microsoft JhengHei;
  background: $color1;
  box-shadow: 0 0 10vw rgba(0,0,0,0.8) inset;
}

.headerBox {
  height: 70px;
  .headerBoxInner {
    height: 100%;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $color2;
    color:#fff;
    //backdrop-filter: blur(10px);
  }
  .headerBoxInnerLogo {
    font-size: 1.6rem;
  }
  .headerBoxInnerMenu {
    display: flex;
    align-items: center;
  }
  .headerBoxInnerMenuItem {
    font-size: 1.3rem;
    margin-left: 2rem;
  }
}

.content {
  height: calc(100vh - 70px);
  padding: 2rem;
  box-sizing: border-box;
  color:#fff;
  overflow-y: scroll;
}

.cardBox {
  border-radius: 10px;
  overflow: hidden;
  .cardBoxTitle {
    padding: 1rem;
    background-color: rgba(0,0,0,0.4);
    font-size: 1.4rem;
    font-weight: bold;
  }
  .cardBoxContent {
    padding: 1rem;
    background-color: rgba(0,0,0,0.2);
  }
}

.labelBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: rgba(0,0,0,0.4);
  border-radius: 10px;
  .labelBoxTitle {
    font-size: 1.4rem;
    font-weight: bold;
  }
  .labelBoxContent {
    font-size: 1.3rem;
  }
}

.home {
  width: 100%;
  .homeBox {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .homeBoxInput {
    margin-top: 3rem;
    width: 50vw;
  }
  .homeBoxInputTitle {
    font-size: 2.4rem;
    margin-bottom: 2rem;
  }
  .homeBoxInputBox {
    border-width: 0;
    width: calc(100% - 500px - 2rem);
    padding: 0.4rem;
    font-size: 1.6rem;
    box-shadow: 0 0 20px #000 inset;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.4);
    color:#fff;
  }
  .homeBoxInputSelect {
    border-width: 0;
    width: 250px;
    padding: 0.4rem;
    font-size: 1.6rem;
    margin-left: 1rem;
    box-shadow: 0 0 20px #000 inset;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.4);
    color:#fff;
  }
  .homeBoxInputButton {

  }
}

.report {
  .reportGameImg {
    border-radius: 10px;
  }
}

.reportList {
  .reportListItem {
    width: 100%;
    background-color: rgba(77, 76, 85, 0.486);
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  .reportListItemImg {
    width: 220px;
    height: 100%;
    border-radius: 20px;
    margin-right: 1rem;
  }
  .reportListItemContent {
    width: calc(100% - 220px - 1rem);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .reportListItemContentBox {
  }
  .reportListItemContentBoxTitle {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  .reportListItemContentBoxInfo {
    display: flex;
    align-items: center;
  }
  .reportListItemContentBoxInfoItem {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    background-color: rgba(0,0,0,0.4);
    border-radius: 10px;
    padding: 4px 10px;
  }
  .reportListItemContentBoxInfoItemTitle {
    font-size: 1.1rem;
    font-weight: bold;
    margin-right: 1rem;
  }
  .reportListItemContentBoxInfoItemValue {

  }
  .reportListItemContentScore {
    width: 100px;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
  }
}

.pageBox {
  margin-bottom: 1rem;
  .pageBoxInner {
    display: flex;
    align-items: center;
  }
  .pageBoxInnerItem {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    border-radius: 4px;
    margin-right: 10px;
    color:#a3a3a3;
    cursor: pointer;
  }
  .pageBoxInnerItemOn {
    transform: scale(1.2);
    font-weight: bold;
    color:#fff;
  }
}