$bgColor:linear-gradient(to bottom right, #0f2b48ff 0%, #1f1f1fff 100%);
$headerColor:rgba(77, 76, 85, 0.171);
$buttonBoxBorderColor:radial-gradient(80% 50% at 80% 100%, #ffffffcc 0%, #ffffff00 100%), radial-gradient(50% 50% at 20% 0%, #ffffff80 0%, #ffffff00 100%), radial-gradient(50% 50% at 100% 100%, #22ff0082 0%, #ffffff0f 100%), radial-gradient(50% 50% at 0% 0%, #52ffaeb3 0%, #ffffff00 100%), linear-gradient(to right, #00fff2ff 0%, #19126dff 100%);
$cardBoxBorderColor:radial-gradient(50% 50% at 50% 50%, #ffffff40 0%, #ffffff00 100%), linear-gradient(to bottom right, #75d3ff80 0%, #a9ffad80 100%);
$cardBoxInnerColor:radial-gradient(farthest-corner at 0% 0%, #ffffff26 0%, #ffffff00 100%), radial-gradient(50% 50% at 100% 100%, #ffffff26 0%, #ffffff1a 100%), linear-gradient(to bottom right, #00233dff 0%, rgba(46, 46, 46, 0.659) 100%);
$cardBoxTitleColor:radial-gradient(farthest-corner at 100% 100%, #ffffff80 0%, #ffffff00 100%), radial-gradient(farthest-corner at 0% 0%, #ffffff80 0%, #ffffff00 100%), linear-gradient(to bottom, #38ff63ff 0%, #2483ffff 100%);

html,body {
  margin: 0;
  padding: 0;
  font-family: Microsoft JhengHei;
  background: $bgColor;
  box-shadow: 0 0 10vw rgba(0,0,0,0.8) inset;
}

a {
  text-decoration: none;
}

.headerBox {
  height: 70px;
  .headerBoxInner {
    height: 100%;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $headerColor;
    color:#fff;
    //backdrop-filter: blur(10px);
  }
  .headerBoxInnerLogo {
    font-size: 1.6rem;
  }
  .headerBoxInnerMenu {
    display: flex;
    align-items: center;
  }
  .headerBoxInnerMenuItem {
    font-size: 1.3rem;
    margin-left: 2rem;
    color:#fff;
    transition-duration: 0.2s;
    cursor: pointer;
    &:hover {
      font-weight: bold;
      transform: scale(1.2);
    }
  }
  .active {
    font-weight: bold;
    transform: scale(1.2);
  }
}

.content {
  height: calc(100vh - 70px);
  padding: 2rem;
  box-sizing: border-box;
  color:#fff;
  overflow-y: scroll;
}

.loading {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  top:0;
  left:0;
  z-index:99;
  .loadingBox {

  }
}

.layout1 {
  width: 1200px;
  margin: 0 auto;
}

.layout2 {
  width: 100%;
}

.cardBox {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  padding: 1px;
  background: $cardBoxBorderColor;
  box-shadow: 0 0 10px #e8ffc74e;
  .cardBoxInner {
    background: $cardBoxInnerColor;
    border-radius: 10px;
  }
  .cardBoxTitle {
    background: $cardBoxTitleColor;
    background-clip: text;
    color: transparent;
    padding: 1rem;
    font-size: 1.4rem;
    font-weight: bold;
  }
  .cardBoxContent {
    padding: 1rem;
  }
}

.buttonBox {
  display: inline-block;
  min-width: 100px;
  border-radius: 30px;
  overflow: hidden;
  background: $buttonBoxBorderColor;
  padding: 1px;
  cursor: pointer;
  user-select: none;
  transition-duration: 0.2s;
  .buttonBoxInner {
    background-color: rgba(0,0,0,0.6);
    border-radius: 30px;
    padding: 0.6rem 1rem;
    text-align: center;
    font-size: 1.2rem;
    transition-duration: 0.2s;
  }
  &:hover {
    box-shadow: 0 0 10px #42ff6238;
    .buttonBoxInner {
      background-color: rgba(0,0,0,0.4);
      transform: scale(1.1);
      font-weight: bold;
    }
  }
}

.labelBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: rgba(0,0,0,0.4);
  border-radius: 10px;
  .labelBoxTitle {
    width: 180px;
    font-size: 1.4rem;
    font-weight: bold;
  }
  .labelBoxContent {

    font-size: 1.3rem;
  }
}

.home {
  width: 100%;
  .homeBox {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .homeBoxInputBox {
    border-width: 0;
    width: calc(100% - 500px - 2rem);
    padding: 0.4rem;
    font-size: 1.6rem;
    box-shadow: 0 0 20px #000 inset;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.4);
    color:#fff;
  }
  .homeBoxInputSelect {
    border-width: 0;
    width: 250px;
    padding: 0.4rem;
    font-size: 1.6rem;
    margin-left: 1rem;
    box-shadow: 0 0 20px #000 inset;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.4);
    color:#fff;
  }
  .homeBoxInputButton {

  }
}

.report {
  .reportGameImg {
    border-radius: 10px;
  }
}

.reportList {
  .reportListItem {
    width: 100%;
    background:$cardBoxBorderColor;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    color:#fff;
    transition-duration: 0.2s;
    padding: 1px;
    &:hover {
      box-shadow: 0 0 10px #ffffffa4;
      .reportListItemImgBox {
        transform: scale(1.2);
      }
    }
  }
  .reportListItemInner {
    width: 100%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $cardBoxInnerColor;
  }
  .reportListItemImg {
    width: 220px;
    height: 100%;
    border-radius: 20px 0px 0px 20px;
    margin-right: 1rem;
    overflow: hidden;
  }
  .reportListItemImgBox {
    width: 100%;
    height: 100%;
    transition-duration: 0.2s;
  }
  .reportListItemContent {
    width: calc(100% - 220px - 1rem);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .reportListItemContentBox {
  }
  .reportListItemContentBoxTitle {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  .reportListItemContentBoxInfo {
    display: flex;
    align-items: center;
  }
  .reportListItemContentBoxInfoItem {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    background-color: rgba(0,0,0,0.4);
    border-radius: 10px;
    padding: 4px 10px;
  }
  .reportListItemContentBoxInfoItemTitle {
    font-size: 1.1rem;
    font-weight: bold;
    margin-right: 1rem;
  }
  .reportListItemContentBoxInfoItemValue {

  }
  .reportListItemContentScore {
    position: relative;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    border-radius: 100%;
    margin-right: 1rem;
    background: $cardBoxTitleColor;
    background-clip: text;
    color: transparent;
    box-shadow: 0 0 10px #383939aa;
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      border-width: 2px;
      border-style: solid;
      border-color: transparent;
      border-radius: 100%;
      background-image: linear-gradient(to right, #68e2ff, #4253eb, #51ff7f);
      background-origin: border-box;
      mask-image: linear-gradient(white, white), linear-gradient(white, white);
      mask-composite: exclude, add;
      mask-clip: padding-box, border-box;
      z-index: 2;
    }
    &::after {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: 100%;
      box-shadow: 10px 10px 16px #ffffff24 inset;
    }
  }
}

.pageBox {
  margin-bottom: 1rem;
  .pageBoxInner {
    display: flex;
    align-items: center;
  }
  .pageBoxInnerItem {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    border-radius: 4px;
    margin-right: 10px;
    color:#a3a3a3;
    cursor: pointer;
  }
  .pageBoxInnerItemOn {
    transform: scale(1.2);
    font-weight: bold;
    color:#fff;
  }
}